body {
    font-family: Arial, sans-serif;
    background-image: url('C:/Users/94779/Pictures/background.jpg');
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.task-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task-form input[type="text"],
.task-form input[type="date"],
.task-form select {
    width: 45%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.task-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.task-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.task-filters label {
    font-size: 14px;
    margin-right: 10px;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-priority {
    font-weight: bold;
    font-size: 16px;
}

.task-priority.low {
    color: #008000; /* Green */
}

.task-priority.medium {
    color: #FFA500; /* Orange */
}

.task-priority.high {
    color: #FF0000; /* Red */
}

.due-date {
    font-size: 14px;
    color: #777;
}

.task-actions button {
    background-color: #ff6347; /* Tomato */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 5px;
}

.task-actions button.edit-button {
    background-color: #4169E1; /* Royal Blue */
}

.task-actions button.delete-button {
    background-color: #ff6347; /* Tomato */
}
